body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header_web { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045694;
    padding: 10px 40px;
    height: 70px;
}

.logo img {
    height: 120px; 
}

.but input[type="button"] {
    background-color: white;
    color: #045694;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.event_details, .event_location {
    text-align: left;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.intro h1 {
    margin-bottom: 0;
    font-size: 32px;
    text-transform: uppercase;
}

.intro h2 {
    margin-top: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.intro img {
    width: 60%;
    max-width: 600px;
    border-radius: 12px;
    margin-top: 10px;
}

.info, .info_location {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    padding-left: 10%;
}

.info strong, .info_location strong {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="button"] {
    background-color: #045694;
    color:white;
    border: none;
    padding: 10px 0;
    width: 40%; 
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.location_link {
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.location_link img {
    max-width: 400px;
    display: block;
    margin: 0 auto 5px;
}

.foot {
    background-color: #045694;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: white; 
    justify-items: center; 
    align-items: start;
    text-align: center;
}

.foot a {
    color: white;           
    text-decoration: none;
}

.foot div {
    line-height: 2.0;
}

.foot strong {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.1em;
}