body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045694;
    padding: 10px 40px;
    height: 70px;
}

.logo img {
    height: 120px; 
}

.cerrar_sesion input[type="button"] {
    background-color: white;
    color: #045694;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.profile_but input[type="button"] {
    background-color: white;
    color: #045694;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}



