body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: #045694;
    padding: 10px 40px;
    height: 70px;
}

.logo_web  {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100px;
    position: relative;
}

.logo_web > img{
    width: 100px;
}

.fondo {
    background-image: url('../../Assets/Img_fondo_login_registro.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.recuadro_log_out {
    background-color: white; 
    padding: 65px 2px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #045694;
    color: white;
    border: none;
    padding: 12px;
    width: 150px; 
    margin: 20px auto 0; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
}