/* Sergi */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045694;
    padding: 10px 40px;
    height: 70px;
}

.logo img {
    height: 120px; 
}

.but input[type="button"] {
    background-color: white;
    color: #045694;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.lab1 {
    position: relative;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
}

.img1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7); 
}

.title1 h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-decoration: none;
}

.buttons_lab1 {
    display: flex;
    gap: 20px;
}

.buttons_lab1 input[type="button"] {
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #045694;
    font-weight: bold;
    cursor: pointer;
}

.lab2 {
    background-color: #045694;
    color: white;
    text-align: center;
    padding: 40px 0;
    text-decoration: none;
    
}

.buttons_lab2 input[type="button"] {
    background-color: white;
    color: #045694;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
}

.title3 {
    background-color: white;
    color: black;
    padding: 40px 0 10px 0;
    font-size: 1.5rem;
    text-decoration: none;
}

.football_label, .basketball_label {
    background-color: white;
    color: black;
    padding: 20px 10%;
    text-align: left;
    text-decoration: none;
}

.football_label h4, .basketball_label h4 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-decoration: none;
}

.football_label img, .basketball_label img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 15px; 
    text-decoration: none;
}

.foot {
    background-color: #045694;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: white; 
    justify-items: center; 
    align-items: start;
    text-align: center;
}

.foot a {
    color: white;           
    text-decoration: none;
}

.foot div {
    line-height: 2.0;
}

.foot strong {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.1em;
}


