/* Alex */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #045694;
    padding: 10px 40px;
    height: 70px;
}

.logo_web img {
    height: 120px;
}

.boton_header input[type="button"] {
    background-color: white;
    color:#045694;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.fondo {
    background-image: url('../../Assets/Img_fondo_login_registro.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.recuadro {
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;  
    border-radius: 12px;
    text-align: center;
}

.titulo_mi_cuenta h3 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 5px;
}

.logo_usuario img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.titulo_mis_datos h4 {
    text-align: left;
    color: black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.recuadro label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    width: 1000px;
}

.recuadro input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #fafafa;
}

.botones {
    max-width: 600px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.botones input[type="button"] {
    background-color: #69B3C5;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.foot {
    background-color: #045694;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: white; 
    justify-items: center; 
    align-items: start;
    text-align: center;
}

.foot a {
    color: white;           
    text-decoration: none;
}

.foot div {
    line-height: 2.0;
}

.foot strong {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.1em;
}



